// Reusable Elements

.item {
    position: relative;

    &:hover {
        .item__content {
            opacity: 1;
            transition: opacity ease .5s;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($c-white, .9);
        padding: 5%;
        opacity: 0;
        transition: opacity ease .5s;
    }

    &__link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    &__text {
        float: left;
        width: 50%;

        @include breakpoint(s) {
            width: 75%;
        }
    }

    &__share {
        float: right;
        position: relative;
        z-index: 20;

        &--facebook {
            display: none;
        }

        a {
            text-decoration: none;
            padding: 0 5px;
            color: lighten($c-black, 25);
            transition: linear color .15s;

            &:hover {
                color: $c-black;
                transition: linear color .15s;
            }

            &:last-of-type {
                padding-right: 0;
            }
        }
    }

    &__date {
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: lighten($c-black, 25);
        @include rem(1.2);
    }

    img {
        width: 100%;
        display: block;
    }
}

.preloader {
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}