// Resuable modukes go here

.island {
	padding:30px;
}
.intro {
    background:url("/assets/img/bg.jpg");
    background-size:cover;
    position:fixed;
    top:60px;
    left:0;
    right:0;
    height:200px;
    z-index:-1;
    color:$c-white;
}
.isotope-item {

    position:relative;
    width:20%;

    &:hover {
        img {
            opacity:0.5;
        }
        .isotope-item__link {
            opacity:1;
        }
    }
    img {
        display:block;
        width:100%;
    }

    @include custom-breakpoint (1200px) {
        width:25%;
    }
    @include custom-breakpoint (800px) {
        width:33.33333333%;
    }
    @include custom-breakpoint (600px) {
        width:50%;
    }
    @include custom-breakpoint (400px) {
        width:100%;
    }
}
.isotope-item__link {

    background:$c-black;
    height:50px;
    width:50px;
    position:absolute;
    top:10px;
    left:10px;
    opacity:0;

    a {
        display:block;
        line-height:50px;
        text-align:center;
        text-decoration:none;
    }
}
.isotope-item__link--link {

    a{
        &:before {
            font-family: FontAwesome;
            content: "\f0c1";
            font-size:1.5em;
            color:$c-white;
        }
    }
}
.isotope-item__link--share {
    top:60px;
    display:none;

    a:first-child {
        background:#333;
    }
    a:last-child {
        background:#666;
    }
}