// Text links
a {
	color: $primary-color;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

// Default button
.btn {
	border: 2px solid $c-black;
	color: $c-black;
	text-decoration: none;
	display: inline-block;
	line-height: 1;
	padding: 12px 25px;
	text-transform: uppercase;;
	outline: none;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active {
		background: $c-black;
		color: $c-white;
		text-decoration: none;
	}
}