// Element specific styles - keep this to a minimum

.l-header__logo {
	background:url("/images/logo.gif");
	background-size:60px;
	width:60px;
	text-indent:-9999px;
	float:left;
}
.social {

	li {
		margin:20px 10px 0 0;
		@include inline-b;

		&:hover {
			cursor:pointer;
		}

	}
	a {
		display:block;

		&:hover {

			cursor:pointer;
		}
	}
}
