
/* Responsive Helpers Under 540px
*********************************************************************************************/

@media (max-width: 540px) {

    /* Setup
    *****************************************************************************************/
    
    body {
        font-size: 14px;
        line-height: 18px;
    }
    
    body::after {
        display: none;
    }
    
    /* Typography
    *********************************************************************************************/
    
    h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 25px;
    }

    /* Rows & Content Containers
    *****************************************************************************************/
    
    .content {
        width: 240px;
    }
    
    .content.left {
        margin-left: 40px;
    }
    
    /* Header
    *****************************************************************************************/
    
    #header {
        line-height: 150px;
    }
    
    #header .content span.logo {
        background-size: 25px;
        display: block;
        padding-left: 35px;
    }
    
    /* Intro
    *****************************************************************************************/
    
    #intro {
        padding: 60px 0;
    }
    
    /* Subscribe
    *****************************************************************************************/
    
    input[type="text"],
    input[type="email"] {
        width: 180px;
    }
    
    .button {
        left: 201px;
    }
}
