// Main layout styles go here

.l-content {
	position:absolute;
	top:260px;
	left:0;
	right:0;
    background:#eee;
}

.l-header {
	background:$c-white;
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:60px;
	z-index:3;
}

.l-header__logo {
	background:url("/assets/img/logo.gif");
	background-size:60px;
	width:60px;
	height: 60px;
	text-indent:-9999px;
	float:left;
}

.l-footer {
	background:white;

	ul {
		li {
			display:inline-block;
		}
	}
}
