// Site specific styles - keep this to a minimum

.social {

	li {
		margin:20px 10px 0 0;
		@include inline-block;

		&:hover {
			cursor:pointer;
		}

	}
	a {
		display:block;

		&:hover {

			cursor:pointer;
		}
	}
}
