// Site specific styles - keep this to a minimum

.social {
    position: fixed;
    right: -40px;
    top: 50%;
    top: calc(50% - 50px);
    transform: rotate(90deg);
    margin: 0;
    padding: 0;

    &__network {
        list-style: none;
        display: inline;
        text-transform: lowercase;

        a {
            text-decoration: none;
        }
    }
}